:root {
    --rosado: #E93656;
    --rosado-hover: #FFCBD4;
    --rosado-fondo: #FFF6F8;
    --negro: #000000;
    --gris-claro: #F0EFEF;

    --salmon: #F19B95;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--rosado);
  }

  ::selection {
    color: white;
    background: var(--rosado);
  }

body{
    padding: 0;
    margin: 0;
}

p, h3, h4{
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 14px;
}

#container-puntos{
    position: fixed;
    height: 100vh;
    width: 1.5%;
    right:30px;
    display: flex;
    z-index: 2;
}

#puntos{
    width: 100%;
    align-self: center;
}

.punto{
    width: 100%;
    padding-top: 100%;
    margin-top: 10px;
    border-radius: 60%;
    transition: 0.5s;
    background-color: var( --azul-claro);
}

#inicio{
    height: 100vh;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo{
    max-width: 572px;
    width: 80%;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    text-align: center;
    color: var(--negro);
}

#nombre-inicio{
    font-family: 'Caveat', cursive;
    font-size: 80px;
}

#titulo-inicio{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

#page-scroll{
    height: 10vh;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

#container-bajar{
    align-self: center;
    border-radius: 60%;
    background-color: #ffffff;
    transition: 0.5s;
    -webkit-animation: rebote 0.5s infinite; /* Safari 4.0 - 8.0 */
    animation: rebote 0.5s infinite;
    animation-direction: alternate;
}

@-webkit-keyframes rebote {
  from {margin-top: 0;}
  to {margin-top: -30px;}
}

@keyframes rebote {
  from {margin-top: 0;}
  to {margin-top: -30px;}
}

#container-bajar:hover{
    background-color: var( --rosado-hover);
}

#about{
    width: 80%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 160px 0;
}

#texto-about{
    width: 55%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
}

#texto-about img{
    width: 10%;
    height: auto;
}

#texto-about img:first-child{
    align-self: flex-start;
    margin-top: -30px;
}

#texto-about img:last-child{
    align-self: flex-end;
    margin-bottom: -30px;
}

#texto-about p{
    width: 70%;
	text-align: center;
}

#foto-about{
    width: 40%;
    position: relative;
}

#foto-about img{
    width:100%;
}

#frase{
    padding: 12px;
    background-color: white;
    border-bottom: 3px solid var(--rosado);
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    display: block;
    position: absolute;
    bottom: -36px;
    right: -15px;
}

#container-proyectos{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btnProyectos{
    cursor: pointer;
    padding: 0px;
}

.btnProyectos-mitad{
    width: 50%;
}

.btnProyectos-tercio{
    width: 33.3333%;
}

.proy{
    position: relative;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: 50%;
}

.img-proy{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#proy-0{
    background-image: url("insumos/img-proyectos/v-proyecto-qenta.png");
}

#proy-1{
    background-image: url("insumos/img-proyectos/v-proyecto-domu.png");
}

#proy-2{
    background-image: url("insumos/img-proyectos/v-proyecto-roomob.png");
}
#proy-3{
    background-image: url("insumos/img-proyectos/v-proyecto-money.png");
}
#proy-4{
    background-image: url("insumos/img-proyectos/v-proyecto-gesco.png");
}
#proy-5{
    background-image: url("insumos/img-proyectos/v-proyecto-legalapp.png");
}
#proy-6{
    background-image: url("insumos/img-proyectos/v-proyecto-cedima.png");
}
#proy-7{
    background-image: url("insumos/img-proyectos/v-proyecto-jimex.png");
}

.detalles-proy{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 69.27%);
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 40px;
    opacity: 0;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.proy:hover .detalles-proy {
    display: flex;
    opacity: 1;
}

.titulo-proy{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
}
.proy .etiquetas, .proy-destacado .etiquetas{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.etiquetas{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.proy-destacado .etiquetas{
    padding: 0 35% !important;
}

.etiquetas p{
    text-align: center;
    color: black;
    padding: 10px;
    background: rgba(250,250,250, .7);
    border-radius: 20px;
    margin-right: 10px;

}

#contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

#container-gracias{
    padding: 100px 0 0;
    width: 14%;
    min-width: 260px;
    display: flex;
    flex-direction: column;
}

#container-gracias img{
    align-self: flex-start;
    width: 49px;
}

#gracias{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.3em;
    font-size: 30px;
    color: var(--rosado);
    text-transform: uppercase;
}

#btn-descarga{
    background-color: var(--rosado);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    padding: 10px 14px;
    margin: 30px 0 80px;
    color: white;
}

#btn-descarga:hover{
    text-decoration: none;
    background-color: var(--rosado-hover);
}

#btn-descarga img{
    width: 20px;
    margin-right: 16px;
    align-self: center;
}

#btn-descarga p{
    align-self: center;
    margin: 0;
}

.link-contacto{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: var(--negro);
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-contacto:hover, #link-correo:hover{
    color: #757575;
}

#link-li{
    background-color: rgba(0, 0, 0, .1);
}

#link-be{
    background-color: rgba(0, 0, 0, .2);
}

#link-correo{
    background-color: var(--negro);
    color: white;
}

@media(max-width: 992px){
}

@media(max-width: 768px){

    #texto-about p {
        width: 90%;
    }

    #frase{
        max-width: 84%;
        text-align: center;
    }

    .proy{
        height: 240px;
    }

    .detalles-proy{
        height: 2%;
        width: calc(90% - 44px);
        padding: 22px;
        justify-content: center;
        align-items: center;
        opacity: 1;
        background-color: rgba(0, 0, 0, .7);
        margin: auto !important;
        border-radius: 24px 24px 0 0;
        border-bottom: 4px solid var(--rosado);
    }

    .titulo-proy{
        font-size: 16px;
        margin: 0;
    }

    .etiquetas {
        display: none;
    }
}

@media(max-width: 500px){
    #nombre-inicio{
        font-size: 64px;
    }

    #titulo-inicio{
        font-size: 14px;
    }

    #about{
        flex-direction: column;
        padding: 98px 0;
    }

    #texto-about{
        width: 100%;
        margin: 0 0 60px;
    }

    #texto-about p{
        width: 90%;
        margin: 0;
    }

    #foto-about{
        width: 100%;
    }

    #frase{
        max-width: 70%;
    }

    .btnProyectos-tercio{
        width: 50%;
    }

    .detalles-proy{
        height: 0%;
    }
}


/*-------------   PROYECTOS   -----------------*/

#body-proyectos{
    overflow: hidden;
}

#navegacion{
    position: fixed;
    top: 20px;
    right: 100px;
    z-index: 2;
    background-color: var(--rosado-fondo);
    height: 26px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    box-shadow: 0px 2px 10px rgba(233, 54, 86, 0.2);
}

#navegacion a{
    height: auto;
    width: auto;
    margin-right: 10px;
    text-decoration-line: none;
}

#navegacion img{
    width: 30px;
    height: auto;
    padding-right: 12px;
    border-right: 2px solid var(--rosado-hover);
}

#puntos{
    list-style: none;
    display: flex;
    width: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.punto-navegacion{
    width: 14px;
    height: 14px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
}

.punto-navegacion:last-child{
    margin-right: 0;
}

.punto-actual{
    background-color: var(--rosado);
    transition: 500ms;
    border: 2px solid var(--rosado);
}

.punto-proximo{
    background: none;
    border: 2px solid var(--rosado);
    opacity: 0.2;
    transition: 500ms;
}

.btn-nav-proyectos{
    position: fixed;
    width: 84px;
    height: 87px;
    z-index: 2;
    transition: 200ms;
}

#btn-siguiente{
    right: -35px;
    top: 50%;
}

#btn-siguiente:hover{
    right: -15px;
}

#btn-anterior{
    left: -35px;
    top: 50%;
}

#btn-anterior:hover{
    left: -15px;
}

.proyecto{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pasado{
    left: -100vw;
    transition: 1s;
}

.activo{
    left: 0;
    transition: 1s;
}

.proximo{
    left: 100vw;
    transition: 1s;
}

.portada-proyecto{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.container-proyecto{
    width: 80%;
    padding: 2% 10%;
    margin: auto;
    max-width: 1170px;
    align-self: center;
}

.texto-descripcion{
    width: 43%;
    margin-right: 10%;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
}

.foto-descripcion{
    width: 45%;
    margin: 0;
    display: inline-block;
}

.foto-descripcion img{
    width: 100%;
}

.temas-proyecto{
    display: flex;
    justify-content: space-between;
}

.temas-proyecto li{
    list-style: none;
}

.habilidad{
    width: 137px;
    height: 137px;
    padding: 18px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    background-color: var(--gris-claro);
}

.habilidad h5{
    color: var(--negro);
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    max-width: 137px;
    align-self: center;
}

.temas-proyecto li:last-child{
    margin-right: 0;
}

.temas-proyecto li img{
    width: 100%;
    height: auto;
}

.paso-proceso{

}

.columna-texto{
    width: 70%;
    margin-right: 5%;
    border-top: 2px solid black;
    display: inline-block;
    padding-top: 2%;
}

.columna-texto h3{
    margin-left: 10px;
}

.columna-texto img{
    width: 50%;
}

.sin-borde-arriba{
    border-top: none !important;
}

.sin-borde-arriba h3{
    margin-top: 0px;
}

.con-borde-abajo{
    padding-bottom: 7%;
    border-bottom: 2px solid black;
}

.columna-imagenes{
    width: 55%;
    margin-left: -30.5%;
    display: inline-block;
    vertical-align: top;
}

.triangulo img, .circulo img{
    width: 100%;
    height: 100%;
}

.circulo{
    width: 42% !important;
    margin-left: -18%;
    margin-top: 5%;
    display: inline-block;
    vertical-align: top;
}

/*.borde-derecha{
    width: 75%;
    border-right: 4px solid var(--aguamarina);
}*/

.punto-diamante{
    vertical-align: bottom !important;
}

.punto-diamante img{
    width: 15%;
    margin-left: 42%;
}

.palabras-clave{
    width: auto;
    display: inline-block;
    margin-right: 33%;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 8px 16px;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: var(--gris-claro);
}

.footer-proyecto{
    width: 100%;
    height: auto;
}

@media(max-width: 970px){
    #navegacion{
        right: 20px;
    }

    #btn-siguiente{
        right: -25px;
        top: 50%;
    }

    #btn-anterior{
        left: -25px;
        top: 50%;
    }

    #btn-siguiente:hover{
        right: -25px;
    }

    #btn-anterior:hover{
        left: -25px;
    }

    .portada-proyecto{
        margin-bottom: 0;
    }

    .texto-descripcion{
        width: 100%;
        display: block;
        font-size: 16px;
    }

    .foto-descripcion{
        width: 65%;
        margin: auto;
        display: block;
    }

    .habilidad{
        width: 100px;
        height: 100px;
    }

    .habilidad h5{
        font-size: 16px;
        line-height: 19px;
    }

    .columna-texto{
        width: 100%;
        font-size: 14px;
        display: block;
    }
    .columna-imagenes{
        width: 100%;
        margin-left: 0;
        display: block;
        vertical-align: top;
    }

    .palabras-clave{
        width: auto;
        margin-right: 0;
        margin-left: 0;
        font-size: 12px;
    }

    .sin-borde-arriba{
        margin-top: 30px;
    }

    .columna-texto img{
        width: 100%;
    }

    .circulo{
        width: 100% !important;
        margin-left: 0;
        margin-top: 5%;
    }

}

@media(max-width: 500px){
    #navegacion{
        position: fixed;
        width: calc(100% - 32px);
        right: 0;
        top: 0;
        border-radius: 0;
    }

    #puntos{
        width: 80%;
    }

    .punto-navegacion{
        width: 15px;
        height: 15px;
        margin-right: 7%;
    }

    #btn-siguiente{
        right: -40px;
    }

    #btn-anterior{
        left: -40px;
    }

    .portada-proyecto{
        margin-top: 56px;
    }

    .foto-descripcion {
        width: 100%;
    }

    .temas-proyecto {
        flex-wrap: wrap;
    }

    .habilidad{
        margin-bottom: 20px;
    }
}